.app{
    min-height: 100vh;
    background:linear-gradient(to bottom, #141b29, #0c111b 300px);
    padding-top: 130px;
    padding-bottom: 70px;
    color: white;
}
@media (max-width:800px) {
    .app{
        padding-top: 90px;
        }
    
}